{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide column">
        <h1 class="ui header">Log New Usage</h1>
        <div class="ui divider"></div>
        
        {{ f.render_form(form) }}
        
        <a class="ui basic button" href="{{ url_for('usage.index') }}{% if form.resident.data %}?resident_id={{ form.resident.data.id }}{% endif %}">
            <i class="caret left icon"></i>
            Back to Usage Logs
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
        // When resident selection changes, update inventory items
        $('select[name="resident"]').change(function() {
            var residentId = $(this).val();
            if (residentId) {
                // Reload the page with the selected resident
                window.location.href = "{{ url_for('usage.new_log') }}?resident_id=" + residentId;
            }
        });
    });
</script>
{% endblock %}
